<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список клиентов</title>
    <style>
        /* Ваши стили здесь */
        .container {
            text-align: center;
            margin-top: 50px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: rgba(64, 224, 208, 0.3); /* бледно-желтый цвет фона */
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div id="content">
    <h1>Список клиентов</h1>
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата рождения</th>
            <th>Пол</th>
            <th>Тип абонемента</th>
            <th>Окончание абонемента</th>
            <th>Номер телефона</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.birth_date }}</td>
                <td>{{ client.gender }}</td>
                <td>{{ client.sub_type }}</td>
                <td>{{ client.sub_expiry }}</td>
                <td>{{ client.phone_number }}</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="/">На главную</a></p>
</div>
</body>
</html>
