<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gym App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <a href="/" class="button">На главную</a>
    <a href="/add_client" class="button">Добавить клиента</a>
    <a href="/clients_list" class="button">Список клиентов</a>
    <h1> Поиск клиента:</h1>

    <!-- Форма поиска -->
    <form class="search-form" action="/search" method="GET">
        <input type="text" name="query" placeholder="Введите запрос">
        <button type="submit" class="button">Поиск</button>
    </form>
</div>

</body>
</html>
