<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gym App</title>
    <!-- Подключаем внешний файл стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<h1>Фитнес клуб "Олимп": Администратор </h1>


<ul>
    <li><a href="/clients" class="button">Клиенты</a></li>
    <li><a href="/equipment" class="button">Оборудование</a></li>
    <li><a href="/abonements" class="button">Абонементы</a></li>
    <li><a href="/halls" class="button">Залы</a></li>
    <li><a href="/trainers" class="button">Тренеры</a></li>
    <li><a href="/workouts" class="button">Занятия</a></li>
</ul>


</body>
</html>
